@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.social-call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    margin: 0px 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}

.phone {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover {
    color: #0b9d8a;
    transition: all ease 0.3s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo img {
    height: 30px;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: #555555;
}

.right-menu a {
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}

.right-menu {
    display: flex;
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover {
    color: #0b9d8a;
    transition: all ease 0.3s;
}

.sale-lable {
    width: 38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}

.sale-lable:after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.shopping-cart {
    position: relative;
}

.num-cart-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-bar {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
}

.search-input {
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input[type="text"] {
    width: 60%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-bar select {
    width: 30%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
    color: #727272;
}

.search-bar input[type="submit"] {
    width: 10%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
    color: #727272;
    /*background: #0b9d8a;*/
    background: #ffffff;
}

.search-bar select:hover {
    color: #0b9d8a;
}

.search-bar input[type="submit"]:hover {
    color: #0b9d8a;
}

.search-cancel {
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
    /*position: relative;*/
}

.search-bar {
    display: none;
}

.search-bar-active {
    display: flex;
}

@keyframes search {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0px;
    }
}

.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}

.login-form,
.signup-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form .form-login,
.signup-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.signup-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.login-form input,
.signup-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.signup-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.signup-form input[type="submit"] {
    background-color: #0b9d8a;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.login-form input[type="submit"]:hover,
.signup-form input[type="submit"]:hover {
    background: #f76b6a;
}

.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a {
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn {
    border-bottom: 1px solid #868686;
    line-height: 16px;
}

.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}

.login-form,
.signup-form,
.form {
    display: none;
}

.login-active,
.login-active .login-form {
    display: flex;
    animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .signup-form {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.category-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-heading h2,
.certificate-heading strong {
    font-size: 1.2rem;
    color: #1b1919;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}

.category-box {
    width: 155px;
    height: 155px;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.category-box a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item span {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#autoWidth {
    display: flex;
    justify-content: center !important;
    margin: 10px auto 40px auto;
}

.certificate-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.certificate-heading strong {
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}

.certificate-heading p {
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}

.product-container {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-box {
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}

.product-img {
    width: 200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}

.p-name {
    color: #727272;
}

.p-price {
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.product-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.add-cart {
    position: absolute;
    right: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fade 0.3s;
}

.add-cart:hover {
    background-color: #f76b6a;
    transition: all ease 0.2s;
}

.product-box:hover .add-cart {
    display: flex;
}

.certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Cart css*/
.cart-form {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    padding: 20px;
    background: #ffffff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 100;
/ / TODO panel frontback
}


.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-product-id {
    display: none;
}

.certificate-id {
    display: none;
}

.tag-id {
    display: none;
}

.cart-quantity {
    border: 1px solid #727272;
    outline-color: #0b9d8a;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove-icon {
    font-size: 24px;
    color: #727272;
    cursor: pointer;
}

.cart-remove-icon:hover {
    color: #0b9d8a;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #4d4d4d;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #0b9d8a;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: #f76b6a;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #727272;
    cursor: pointer;
}

#close-cart:hover {
    color: #0b9d8a;
}

.cart-active {
    right: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Certificate page*/

.certificate-link {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 104;
}

.certificate-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}

.certificate-form /*,
.certificate-link*/
{
    /*display: none;*/
}


.certificate-active,
.certificate-active .certificate-form {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.product-container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#cert {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#cert.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.fix-nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 102;
}

/*CREATE tag*/
.tag-form {
    margin: 10% 33%;
    width: 700px;
    height: 400px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.tag-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tag-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.tag-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
    font-size: 25px;
}

.tag-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.tag-form input[type="submit"] {
    background-color: #0b9d8a;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.tag-form input[type="submit"] {
    background-color: #0b9d8a;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.tag-form input[type="submit"]:hover {
    background: #f76b6a;
}

.tag-form input[type="file"] {
    width: 15%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
    font-size: 25px;
}

/*CREATE certificate*/
/*.certificate-create-form {*/
/*    margin: 10% 33%;*/
/*    width: 700px;*/
/*    height: 400px;*/
/*    padding: 20px 10px;*/
/*    background-color: #ffffff;*/
/*    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    border-radius: 5px;*/
/*    position: relative;*/
/*}*/

/*.certificate-create-form form{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*}*/

/*.certificate-create-form strong {*/
/*    color: #272727;*/
/*    font-size: 2rem;*/
/*    margin: 2px 7px 7px 7px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 0.5px;*/
/*    font-weight: 500;*/
/*}*/

/*.certificate-create-form input {*/
/*    width: 90%;*/
/*    height: 45px;*/
/*    margin: 6px 0px;*/
/*    padding: 0px 10px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    outline: none;*/
/*    border-radius: 7px;*/
/*    font-size: 25px;*/
/*}*/

/*.certificate-create-form input::placeholder {*/
/*    color: rgba(0, 0, 0, 0.5);*/
/*}*/

/*.certificate-create-form input[type="submit"] {*/
/*    background-color: #0b9d8a;*/
/*    color: #ffffff;*/
/*    border: none;*/
/*    outline: none;*/
/*    text-transform: uppercase;*/
/*    margin-top: 10px;*/
/*    border-radius: 3px;*/
/*    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.certificate-create-form input[type="submit"] {*/
/*    background-color: #0b9d8a;*/
/*    color: #ffffff;*/
/*    border: none;*/
/*    outline: none;*/
/*    text-transform: uppercase;*/
/*    margin-top: 10px;*/
/*    border-radius: 3px;*/
/*    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.certificate-create-form input[type="submit"]:hover {*/
/*    background: #f76b6a;*/
/*}*/

/*.certificate-create-form input[type="file"] {*/
/*    width: 15%;*/
/*    height: 45px;*/
/*    margin: 6px 0px;*/
/*    padding: 0px 10px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    outline: none;*/
/*    border-radius: 7px;*/
/*    font-size: 25px;*/
/*}*/

/*.certificate-create-form input[type="checkbox"] {*/
/*    width: 5%;*/
/*    height: 45px;*/
/*    display: flex;*/
/*    margin: 6px 0px;*/
/*    padding: 0px 10px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    outline: none;*/
/*    border-radius: 7px;*/
/*    font-size: 25px;*/
/*    flex-direction: row;*/
/*}*/
